.navbar {
	height: 40px;
	width:16%;
	background: rgba(0,0,0,0.4);
}

.navbar u1 {
	float: left;
	margin-left: 20px;
}

.navbar u1 li {
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 45px;
}

.navbar u1 li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.navbar u1 li a.active,
.navbar u1 li a:hover{
	background: red;
	border-radius: 2px;
}